{% extends "PlantillaPadre.html" %}

{%block title%} Home {% endblock%}

{% block content %}
<p>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://img.freepik.com/vector-gratis/administrador-sala-centro-datos-hardware-servidor_107791-8201.jpg?w=826&t=st=1699827620~exp=1699828220~hmac=0716b7e61e6a2a3e1c42cee49adcb4d99843c2175f366ee680a35e320bcdaa40" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://img.freepik.com/vector-gratis/banner-contraccion-concepto-inteligencia-artificial_23-2150389746.jpg?w=826&t=st=1699827515~exp=1699828115~hmac=860d91ae3f41729f68e40245d73105a0aa293e0b8f148339c0f91aa58b6fd112" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/vector-gratis/banner-tecnologia-lineas-futuristas-alta-tecnologia_1017-23966.jpg?w=826&t=st=1699827500~exp=1699828100~hmac=7a725378064ce3c58805256d03ff2692001aed9473d3816c221771026b51ff05" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</p>

{% endblock %}
